{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <script src="https://unpkg.com/@glidejs/glide/dist/glide.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide/dist/css/glide.theme.min.css">

    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <img src="{{ url_for('static', filename='1.jpg') }}">
          </li>
          <li class="glide__slide">
            <img src="{{ url_for('static', filename='2.jpg') }}">
          </li>
          <li class="glide__slide">
            <img src="{{ url_for('static', filename='3.jpg') }}">
          </li>
          <li class="glide__slide">
            <img src="{{ url_for('static', filename='4.jpg') }}">
          </li>
        </ul>
      </div>
    </div>

    <div class="container mt-5">
        <h1>Добро пожаловать!</h1>
        <p>Это сайт ЦСДО "От винта" при а/к "ЮГэйр"</p>
        <p>Мы теперь не только авиакомпания, крупнейший вертолётный перевозчик и профилакторий (с кафетерием), но и центр Дистанционного обучения!</p>
        <p>Для начала дистанционного обслуживания в Системе ДО, <a href="/{{token}}/register">зарегистрируйтесь</a> или <a href="/{{token}}/login">войдите</a>.</p>

        <h3>...и желаем вам счатливого полёта на «облачной» высоте...</h3>

        <h3>...и уЮГного неба...</h3>
    </div>

    <script>
        new Glide('.glide', {
            type: 'carousel',
            preView: 1,
            autoplay: 3000,
            rewind: true,
            keyboard: false,
            hoverpause: false,
            animationDuration: 1000
        }).mount()
    </script>

{% endblock %}
