@{
    ViewData["Title"] = "Главная";
}

<div id="home-page" class="text-center">
    <h1 class="display-2">Вермишелевый мир победил!</h1>
    <br>
    <p>Добро пожаловать в удивительный мир вкусных приключений – на макаронную фабрику "Мои макароны"! Наша фабрика – это не просто производство макарон, это настоящий храм гастрономического наслаждения, где каждая паста – это маленькое произведение искусства.</p>
    <p>На "Моих макаронах" мы гордимся тем, что предлагаем высококачественные продукты, созданные с любовью и страстью к кулинарии. Наши макароны изготавливаются из отборных сортов пшеницы, выращенных с заботой о природе, без добавления искусственных красителей и консервантов.</p>
    <p>Наш ассортимент порадует даже самых изысканных гурманов: от классических спагетти до уникальных форм и видов теста. Наши повара тщательно следят за каждым этапом производства, чтобы обеспечить идеальное сочетание текстуры и вкуса в каждой порции "Моих макарон".</p>
    <p>Мы также гордимся тем, что поддерживаем экологически чистый подход в производстве, минимизируя отходы и используя устойчивые технологии. Мы уверены, что забота о природе дополняет заботу о вашем здоровье.</p>
    <p>Присоединяйтесь к нам в этом увлекательном кулинарном путешествии, где каждый макарон – это не просто продукт, а история вкуса, традиций и качества. "Мои макароны" – это неотъемлемая часть вашего кулинарного опыта!</p>
</div>
<div class="text-center">
    <img src="/images/pasta.jpg" class="img-fluid rounded">
</div>