<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>smartAlarm</title>
		<style type="text/css">
			html {
				background-color: #001d4f;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			body {
				margin: 0;
			}
			h1 {
				font-family: monospace;
				font-size: 48px;
				color: #fffd;
				border-bottom: 4px dotted #fff8;
				text-align: center;
			}
			p {
				font-family: sans-serif;
				color: #fff;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>smartAlarm</h1>

		<p>Please use this app on Android only.</p>
	</body>
</html>
